################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.sdf
*.suo
*_i.c
*_i.h
*_p.c
*.suo
*.db
*.VC.opendb
*.VC.db
*.opendb
*.user
*.aps
*.log.bak
*.log
*.tlog
*.tmp
*.vcxproj.user

bin
lib
obj
ipch
packages

Version.h

